/* Custom Styles */

/* NavBar */

ul#menu-header-menu-1 {
  flex-direction: row;
}
.menu {
  color: #fff !important;
  transition: background-color 0.7s ease-in-out;
}
.down {
  background-color: #0b0b0b;
}
